* {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}

body	{
	background-color: #d8c9a8;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333333;
}
blockquote{
	margin-left: 25px;
	margin-right: 75px;
}

p { padding: 5px 0px 5px 0px;}

fieldset { border:0px; }


/*						PAGE LAYOUT						*/

#wrap	{
  width:100%;
	float:left;
}

#headerSubWrap {
  width:100%;
  float:left;
  background:#fff url(../images/liner_bg_yellow.jpg) repeat-x left 43px;
}
#header {
  margin:0px auto;
	width: 840px;
}
#liner	{
	clear: both;
	height: 25px;
}
#contentWrap {
  width:100%;
  float:left;
  padding:0 0 30px 0;
  background-color:#fff;
}
#main {
  margin:0px auto;
  width:840px; 
}
#content	{
	float: left;
	padding: 30px 20px 30px 0;
}

#footer	{
	float:left;
  width:100%;
	height: 226px;
  background: url(../images/html_bg.jpg) repeat-x left bottom;
}
#footer p { margin:0px auto; width:840px; }
/*						GLOBAL STYLES						*/

a, a:visited	{
	color: #000;
}
a:hover	{
	color: #cb6405;
	text-decoration: underline;
}
h2	{
	font: 28px/30px Georgia, "Times New Roman", Times, serif;
}
h3	{
	font: bold 14px/16px Arial, Helvetica, sans-serif;
}
.lbord, .rbord	{
	display: block;
}
.lbord	{
	float: left;
}
.rbord	{
	float: right;
}


/*						HEADER STYLES						*/

#header ul	{
	float: right;
	padding-top: 15px;
}
#header li	{
	float: left;
	padding: 0 4px;
	border-right: solid 1px #853385;
	font: 12px/14px	"Lucida Grande","Helvetice Neue",Helvetica,Verdana,Sans-serif;
}
#header li.last	{
	border: none;
}
#header h1	{
	width: 205px;
	height: 43px;
	background: url(../images/mcommons_banner_sm.jpg) no-repeat left top;
}
#header h1 a, #header h1 a:visited	{
	height: 43px;
	display: block;
}
#header h1 strong	{
	display: none;
}
#header p	{
	color: #fff;
	height: 161px;
	padding: 58px 100px 0 85px;
	font: 26px/32px Georgia,"Lucida Grande","Helvetice Neue",Helvetica,Verdana,Sans-serif;
}
#header p strong	{
	color: #c9e5fb;
	font-weight: normal;
}
#header p em	{
	color: #c9f2ba;
	font-style: normal;
}

/*						FOOTER STYLES						*/

#footer p	{
	color: #999;
	padding: 23px 0 0 0;
	font: 12px/14px Georgia,"Lucida Grande","Helvetice Neue",Helvetica,Verdana,Sans-serif;
}


/*						BODY STYLES						*/


#form {
	border: none;
	text-align: center;
	padding-bottom:25px;
}

#map_div{
	margin: 0px auto;
	width:800px;
  height:400px;
}

#notice{
	color: red;
	padding-top:15px;
	text-align: center;
}

img {
	border: none;
}

/* boxes */


div#geo-box {
  margin: 30px 10px 10px 10px;
  padding:5px 5px 5px 25px;
  
  border-bottom:1px solid #CCCCCC;
  border-top:1px solid #CCCCCC;
  height:70px;
  background:#FEFCF1 none repeat scroll 0 0;
}
div#geo-box label {
  display: block;
  font-size: 1.5em;
}

div#geo-box label span.quiet {
  color: gray;
  font-size:0.5em;
}

div#geo-box p {
  display: block;
  float: left;
  padding: 4px 20px 10px 20px;
}

div#geo-box input[type=submit], div#geo-box input[type=button] {
  margin-top:34px;
}


div#geo-box input[type=text] {
  width:160px;
}

div#geo-box input[type=text]#address {
  width:360px;
}

div.federal {
  color: red;
}

div.state_lower {
  color: blue;
}

div.state_upper {
  color: green;
}

a.api {
  display:block;
  padding: 10px 0px 10px 0px;
}

p.api {  padding: 55px 10px 10px 10px;}

div#notice {}

