<h2>Legislative Lookup: <span>Updated with 113th Congress for 2013!</span></h2>

<div id="geo-box">
  <form id="address_form"> <!-- Handled by js. Not submitted. -->
    <span id="address_span">
      <p>
        <label>Address</label>
        <input type="text" id="address" name="address"/>
      </p>
      <input type="submit" value="Lookup" class="button cupid-green"/>
      <input type="button" id="clear" value="Clear" class="button clean-gray"/>
    </span>
  </form>
  <% form_remote_tag :html => { :id => "lat_lng_form" } do %>
      <span id="lat_lng" style="display:none;">
        <p>
          <label>Latitude</label>
          <%= text_field_tag "lat", params[:lat] %>
        </p>
        <p>
          <label>Longitude</label>
          <%= text_field_tag "lng", params[:lng] %>
        </p>
      </span>
      <span id="icons"></span>
  <% end %>
</div>

<%= @map.div %>

<div id="notice" style="display:none;"></div>

<h4>API Documentation</h4>

<p>Mobile Commons Legislative Lookup matches a latitude and longitude with the congressional and state legislative districts for that location. It is provided free of charge with no warranty. If you use this service please cache your responses and behave responsibly. If you plan to send more than a few thousand queries per day, let us know via the list before you start.</p>
<p>Join our <a href="http://groups.google.com/group/mcommons-congress-api">low volume mailing list</a> for advance notice of API changes or to ask a question.</p>
<p>Source code is available under an MIT License at <a href="http://github.com/mcommons/legislative-lookup">http://github.com/mcommons/legislative-lookup</a>.</p>

<div class="api">
  <p>A query for a latitude and longitude:</p>
  <a class="api" href="/districts/lookup.xml?lat=40.7145248&lng=-74.007073">http://congress.mcommons.com/districts/lookup.xml?lat=40.7145248&amp;lng=-74.007073</a>
  <pre><code class="xml">
    &lt;?xml version="1.0" encoding="UTF-8"?&gt;
    &lt;response&gt;
      &lt;lat&gt;40.7145248&lt;/lat&gt;
      &lt;lng&gt;-74.007073&lt;/lng&gt;
      &lt;state_lower&gt;
        &lt;iddd&gt;3601&lt;/iddd&gt;
        &lt;state&gt;NY&lt;/state&gt;
        &lt;district&gt;66&lt;/district&gt;
        &lt;display_name&gt;NY 66th&lt;/display_name&gt;
      &lt;/state_lower&gt;
      &lt;federal&gt;
        &lt;iddd&gt;271&lt;/iddd&gt;
        &lt;state&gt;NY&lt;/state&gt;
        &lt;district&gt;10&lt;/district&gt;
        &lt;display_name&gt;NY 10th&lt;/display_name&gt;
      &lt;/federal&gt;
      &lt;state_upper&gt;
        &lt;iddd&gt;6784&lt;/iddd&gt;
        &lt;state&gt;NY&lt;/state&gt;
        &lt;district&gt;26&lt;/district&gt;
        &lt;display_name&gt;NY 26th&lt;/display_name&gt;
      &lt;/state_upper&gt;
    &lt;/response&gt;
  </code></pre>
</div>

<div class="api">
  <p>If no latitude and longitude is supplied:</p>
  <a class="api" href="/districts/lookup.xml">http://congress.mcommons.com/districts/lookup.xml</a>
  <pre><code class="xml">
    &lt;?xml version="1.0" encoding="UTF-8"?&gt;
    &lt;response&gt;
      &lt;lat&gt;&lt;/lat&gt;
      &lt;lng&gt;&lt;/lng&gt;
      &lt;error&gt;Must supply lat and lng parameters&lt;/error&gt;
    &lt;/response&gt;
  </code></pre>
</div>

<div class="api">
  <p>If the latitude and longitude is outside of the United States, and does not match any legislative district geographies:</p>
  <a class="api" href="/districts/lookup.xml?lat=64.835054&lng=147.646528">http://congress.mcommons.com/districts/lookup.xml?lat=64.835054&amp;lng=147.646528</a>
  <pre><code class="xml">
    &lt;?xml version="1.0" encoding="UTF-8"?&gt;
    &lt;response&gt;
      &lt;lat&gt;64.835054&lt;/lat&gt;
      &lt;lng&gt;147.646528&lt;/lng&gt;
      &lt;error&gt;No district found&lt;/error&gt;
    &lt;/response&gt;
  </code></pre>
</div>

